# Files #
#########
*.bak
*.log
build.bat
tsconfig.json

# vscode #
###############
.vscode/

# Directories #
###############
dist/
src/
test/

# Node.js #
###########
package-lock.json
.npmignore
/node_modules/

# Temporary files #
###################
*~

# Git #
#######
.gitignore

# Utilities #
#############
.jshintrc
.jshintignore
.travis.yml
.editorconfig